body {
    background-color: #c6d9ee;
    text-align: justify;
}

h1 {
    font-size:300%;
    font-family: arial ;
    text-align: right;
}

h2 {
    font-family:'Courier New', Courier, monospace;
    font-weight:bold;
    font-size:200%;
    font-variant: small-caps;                   /* TODO EN MAYUSCULA */
}

p {
    text-indent: 3%;
    line-height: 180%;
    font-family: arial;
}

strong {
    color: #e06e1c;
}

em {
    background-color: #ffffff;
    color: green;
}

comic {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: larger;
    color:#e71841;
}

naranja {
    color: #e06e1c;
}